---
import "../styles/global.css";
import "@fontsource/fira-code";
import "@fontsource/fira-code/700.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/portfolio/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="I'm a Systems Engineer and Web Developer who enjoys working across
			the full stack, from the infrastructure that keeps things running to
			the interfaces people actually interact with. I like building things
			that are clean, practical, and make sense to use."
        />
        <title>Agustín Gil</title>
    </head>
    <body class="sm:px-[20%] px-12 py-8">
        <slot />
    </body>
</html>
