---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="A web developer with a passion for building clean and scalable applications. With a background in Systems Engineer, I bridge the gap between complex backend systems and intuitive frontend experiences using modern technologies."
        />
        <title>Agustín Gil</title>
    </head>
    <body class="sm:px-[20%] px-12 py-8">
        <slot />
    </body>
</html>
